<div class="media topic-media">
  <div class="topic-treats-ctn pull-left">
    <div class="topic-treats"><%= topic.treat_score %></div>
    <%= link_to 'Treat', '#', class: 'topic-treat-link btn btn-mini btn-success',
      data: { content: "#{link_to 'Kopi', treats_path(topic_id: topic.id, type: Treat::TreatName::KOPI),
                          method: :post, remote: true, class: 'create_treat_link'}" } %>
  </div>
  <a class="pull-left" href="#"><img class="media-object" src="<%= topic.thumbnail %>" alt="avatar" /></a>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to topic.title, topic %>
      <% if topic.link_domain_name.present? %>
        <span class="topic-domain-name">(<%= topic.link_domain_name %>)</span>
      <% end %>
    </h4>
    <%= topic.user.username %> posted <%= time_ago_in_words topic.created_at %> ago
    <% if user_signed_in? && topic.user_id == current_user.id %>
      <%= link_to 'Edit', edit_topic_path(topic) %>
    <% end %>
  </div><!--/media-body-->
</div><!--/media-->
