<div class="row-fluid">
  <div class="span9">
    <%= render(@topics) || "No topics available" %>
  </div><!--/span-->
</div><!--/row-->

<%# <%= topic.title %>
<%# <%= topic.text %>
<%# <%= topic.link %>
<%# <%= link_to 'Show', topic %>
<%# <%= link_to 'Edit', edit_topic_path(topic) %>
<%# <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
