<%= render @topic %>
<% if @topic.text.present? %>
  <p><%= @topic.text %></p>
<% end %>
<% if @topic.link.present? %>
  <div class="link-iframe-ctn">
    <div id="topic-btn-ctn">
      <button id="toggle-preview" class="btn">Toggle Preview</button>
      <%= link_to "Visit Link", @topic.link, id: 'topic-link-btn', class: 'btn btn-primary' %>
    </div>
    <div id="preview-iframe-ctn">
      <%= preview_iframe @topic.link %>
    </div>
  </div>
<% end %>

<%= render 'comments' %>
