<%= form_for(user, html: { class: 'form-horizontal' }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <%= user.errors.full_messages.join('. ') %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :username, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :username %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
