<%= form_for(user, method: :post, url: { action: :update_password }, html: { class: 'form-horizontal' }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <%= user.errors.full_messages.join('. ') %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :current_password, 'Current Password', class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :current_password, class: "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, 'New Password', class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off", class: "input-xlarge"  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, 'Confirm New Password', class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, class: "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Change Password", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
