<div class="row-fluid">
  <div class="span9 well">
    <div class="row-fluid">
      <div class="span2">
        <%= image_tag @user.avatar_url(:thumb).to_s %>
      </div>
      <div class="span7">
        <p>
        <strong><%= @user.username%></strong>
        <% if is_current_user? @user %>
          <%= link_to 'Edit Profile', edit_user_path(@user) %>
        <% end %>
        </p>
        <span class="badge badge-warning"><%= @user.topics.count %> topics</span> <span class=" badge badge-info"><%= @user.comments.count %> comments</span>
      </div>
    </div>
  </div>
</div>

<div id="user-contributions">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#topics" data-toggle="tab">Topics</a></li>
    <li><a href="#comments" data-toggle="tab">Comments</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="topics">
      <%= render(@user.topics) || "No topics added by #{@user.username}" %>
    </div>
    <div class="tab-pane" id="comments">
      <%= render(@user.comments) || "No comments added by #{@user.username}" %>
    </div>
  </div>
</div>
